{% extends 'tasks/base.html' %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2 class="mb-4">Lista de Tarefas</h2>
    </div>
    <div class="col-md-4 text-end">
        <a href="{% url 'task_create' %}" class="btn btn-success">Nova Tarefa</a>
    </div>
</div>

{% if tasks %}
    <div class="list-group">
        {% for task in tasks %}
            <a href="{% url 'task_detail' task.pk %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {{ task.title }}
                {% if task.completed %}
                    <span class="badge bg-success rounded-pill">Concluída</span>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info">
        <p class="mb-0">Não há tarefas cadastradas.</p>
    </div>
{% endif %}
{% endblock %}